<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css">

<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-10 my-5">
            <div class="card card-body mx-5 py-5">
                <h5 class="my-3">Create A New Post</h5>
                <form action="/posts/edit/<%= post._id %>" method="POST">
                    <div class="form-group">
                        <label for="title">Enter Your Post Title</label>
                        <input type="text" name="title" id="title" class="form-control"  value="<%= post.title %>">
                        <div class="invalid-feedback">
                            <%= error.title %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tags">Enter your name</label>
                        <input type="text" name="tags" id="tags" placeholder="Mr.x" class="form-control"
                            value="<%= post.tags %>">
                    </div>
                    <div class="form-group">
                        <label for="body">Enter Your Post Body</label>
                        <textarea name="body" id="body" class="form-control"><%- post.body %></textarea>
                        <div class="invalid-feedback">
                            <%= error.body %>
                        </div>
                    </div>
                    
            </div>
            <input type="submit" class="btn btn-primary" value="Update Post">
            <a class="btn btn-danger" href="/posts/delete/<%= post._id %>"> Delete Post </a>
            </form>
        </div>
    </div>
</div>

</div>


<%- include('../../partials/footer.ejs') %>



</body>

</html>