
<%- include('../partials/head.ejs') %>
<div class="container blog-sec">
    <div class="row">
                <% if (posts.length === 0) { %>
                <p class="text-center text-muted">There is Nothing to Show</p>
                <% } else { %>
                <% for (let post of posts) { %>
                <div class="card card-body mb-3">
                    
                    <a href="/posts/blogs/<%= post._id %>" style="color: #222222">
                        <h5><%= post.title %></h5>
                        <p class="mb-4"> <%= post.body %> </p>
                    </a>
                    <div class="d-flex">
                        <p>Posted By <%= post.tags %></p>
                    </div>
                </div>
                <% } %>
                <% } %>
            
        </div>
</div>

<%- include('../partials/footer.ejs') %>
</body>

</html>
