<%- include('../partials/head.ejs') %>
<div class="container contact-form">
    <div class="card-body">
        <h3 class="header1"><%= post.title %></h5>
        <h5>Written by <%= post.tags %></h5>
        <p class="card-text"><%= post.body %></p>
        
    </div>
</div>


<%- include('../partials/footer.ejs') %>
</body>

</html>